@import '../../responsive.scss';

.layout{
    // background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    @include lg {
        // background-color: blue;
        max-width: 1250px;
    }
    @include md {
        // background-color: lightgreen;
        max-width: 900px;
    }
    @include sm {
        // background-color: grey;
        max-width: 660px;
    }
}

.content{
    // height: calc(100vh - 100px);
    // flex: 1;
    height: calc(100vh - 100px);
}